/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Imports */
@import url("variables.css");

@import url("layout/header.css");
@import url("layout/hero.css");
@import url("layout/container.css");
@import url("layout/footer.css");

@import url("components/download-btn.css");

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


    color: var(--text-color);
    font-family: Poppins;
    background-color: rgb(27, 27, 27);
    overflow-x: hidden;

}

html{
    scroll-behavior: smooth;  
}

*{
    /* outline: solid red 2px; */
    transition: ease-in-out 0.2s;
}

.landing{

    background: url("../assets/pictures/background.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
    height: 100vh;
}