.container{
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    justify-self: center;
    align-self: center;
    margin-top: 30px;
    justify-content: center;
    align-items: center;

}

.container h1{
    font-weight: 500;
}

.container img{
    width: 500px;
}

.container a{
    margin-top: 20px;
    font-size: 3em;
    color: white;
    text-decoration: none;
    width: fit-content;    
    font-weight: bold;
}

.container a:hover{

    font-size: 3.5em;
}