header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    width: 100%;
    box-sizing: border-box;
    font-family: "Marko One", sans-serif;
    background: var(--header-background-color);
}

/* Logo */
#logo {
    flex: 1;
    display: flex;
    align-items: center;
    height: fit-content;
    width: fit-content;
    margin: 0;
}

#logo img {
    height: 70px;
}

#logo img:hover {
    transform: scale(1.05);
}

/* Navigation */
nav {
    flex: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

nav a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 500;
}

nav a:hover {
    opacity: 0.7;
}

/* Zone droite : bouton thème + download */
.right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
}

/* Bouton soleil / thème */
header button {
    background: none;
    border: none;
    font-size: 1.3rem;
    cursor: pointer;
    color: var(--text-color);
}

header button:hover {
    transform: scale(1.1);
}

/* Bouton Download */
#download-btn {
    color: var(--text-color);
    text-decoration: none;
    background-color: #919191;
    padding: 10px 20px;
    border-radius: 15px;
    font-family: Poppins;
    font-weight: bold;
}

#download-btn:hover {
    background-color: #7a7a7a;
    transform: scale(1.03);
}

@media (max-width: 858px) {

    #logo img{
        height: 30px;
    }

    nav a{
        font-size: 1.4rem;
    }
}

@media (max-width: 700px) {

    #logo img{
        height: 30px;
    }
    
    nav{
        justify-self: center;
        margin-left: 15px;
    }

    nav a{
        font-size: 1rem;
    }

    .right{
        width: fit-content;;
    }

    #download-btn{
        display: none;
    }

    .right button{
        font-style: 0.8rem;
    }

}


@media (max-width: 450px) {
    #logo img{
        height: 25px;
        margin-left: -15px;
    }

    nav a{
        font-size: 0.8rem;
    }

    .right button{
        font-style: 0.5rem;
    }
}

@media (max-width: 340px) {
    .right{
        display: none;
    }
}