.Analogique {
  position: relative;
  width: 300px;
  height: 300px;
  background: var(--background-clock-color);

  /* background: url("../img/Chirac.jpg"); */
  /* background: var(--bg-chichi);   */
  background-size: cover;
  background-position: center;

  border-radius: 50%;
  margin: 50px auto;
  border: 5px solid var(--border-color);

}


.aiguille {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform-origin: bottom center;
  transform: rotate(0deg);
}

.secondes {
  width: 2px;
  height: 45%;
  background: var(--aiguilles-secondes-color);
  transition: transform 0.1s linear; 
}


.minutes {
  width: 4px;
  height: 40%;
  background: var(--aiguilles-minutes-color);
  transition: transform 0.5s cubic-bezier(0.25, 0.8, 0.25, 1); 
}


.heures {
  width: 6px;
  height: 30%;
  background: var(--aiguilles-heures-color);
  transition: transform 1s cubic-bezier(0.25, 0.8, 0.25, 1); 
}


.dot {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 12px;
  background: white;
  border: 2px solid var(--border-color);
  border-radius: 50%;
  transform: translate(-50%, -50%);
}


.container-trait{
  display: flex;
  
}
.trait {
  position: absolute;
  width: 2px;
  height: 15px; 
  background: var(--trait-color);
  top: 8%;
  left: 50%;
  transform-origin: center 940%;
}
