.hero {
    display: flex;
    flex-direction: column;
    height: fit-content;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2em 1em;
}

.hero h1 {
    margin-top: 2em;
    font-size: 5em;
    margin-bottom: 20px;
}

.hero h2 {
    margin-top: 0;
    font-size: 2em;
}

@media (max-width: 1024px) {
    .hero h1 {
        font-size: 4em;
    }

    .hero h2 {
        font-size: 1.8em;
    }
}

@media (max-width: 768px) {
    .hero h1 {
        font-size: 3em;
        margin-top: 1.5em;
    }

    .hero h2 {
        font-size: 1.5em;
    }
}

@media (max-width: 480px) {
    .hero h1 {
        font-size: 2em;
        margin-top: 1em;
    }

    .hero h2 {
        font-size: 1.2em;
    }
}



nav {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around; 
    width: 20%;
    font-size: 1.5em;
    font-weight: bold;
}

nav a {
    text-decoration: none;
    color: var(--text-color);
    transition: 0.2s ease;
}

nav a:hover {
    transform: scale(1.05);
    color: #d7d7d7;
}


@media (max-width: 1024px) {
    nav {
        width: 40%;
        font-size: 1.3em;
    }
}

@media (max-width: 768px) {
    nav {
        width: 60%;
        font-size: 1.1em;
    }
}

@media (max-width: 480px) {
    nav {
        width: 90%;
        font-size: 1em;
        flex-direction: column;
        gap: 15px;
        margin-top: 30px;
    }
}
