*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;

}

body{
    background-color: #111111;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.container{ grid-area: 2 / 2 / 5 / 7; }