body {
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr auto; /* espace à gauche pour centrer */
    grid-template-areas: "left right";
    place-items: center;
    background: var(--background-color); 
    color: var(--text-color);
    transition: background-color 0.5s ease, color 0.5s ease;
}

.leftpanel {
    grid-area: left;
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 20px;
    
}

.rightpanel {
    grid-area: right;
    justify-self: end;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 10%;
}
